Repository pragusga25/nestjs-starter: changes, and which lefthook commands are due for each by the changed paths.
All: check, spelling

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: '**/*.{js,ts}'
      run: bunx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

    spelling:
      glob: '*.{js,ts}'
      run: bun cspell {staged_files}

commit-msg:
  parallel: true
  commands:
    check-apply:
      glob: '**/*.{js,ts}'
      run: bunx @biomejs/biome check --apply {staged_files}

    'lint commit message':
      run: bun run commitlint --edit {1}

pre-push:
  commands:
    test:
      run: bun run test:cov

ci(lefthook): trigger lefthook
  lefthook.yml
Due: none

perf(module): use fastify
  bun.lockb
  package.json
  src/main.ts
Due: check, spelling

build(packages): remove express packages
  bun.lockb
  package.json
Due: none

perf(main): use fastify
  bun.lockb
  lefthook.yml
  package.json
  src/main.ts
Due: check, spelling

chore(biome): enable unsafeParameterDecoratorsEnabled (allow decorator in method argument)
  biome.json
Due: none

perf(builder): use swc
  bun.lockb
  nest-cli.json
  package.json
Due: none

perf(tester): use vitest
  .swcrc
  bun.lockb
  package.json
  test/app.e2e-spec.ts
  test/jest-e2e.json
  vite.config.ts
Due: check, spelling

docs(readme): replace yarn with bun
  README.md
Due: none

ci(lefthook): conditional prepush
  lefthook.yml
Due: none

docs(readme): update unit tests to all tests
  README.md
Due: none

build(webpack): conifgure hot reload
  bun.lockb
  package.json
  src/main.ts
  webpack-hmr.config.js
Due: check, spelling

chore(security): add csrf, helmet, and rate limiter
  bun.lockb
  package.json
  src/app.module.ts
  src/main.ts
Due: check, spelling

chore(orm): init prisma
  bun.lockb
  package.json
  prisma/schema.prisma
Due: none

chore(prisma): create prisma service and module
  bun.lockb
  package.json
  src/app.module.ts
  src/prisma/prisma.module.ts
  src/prisma/prisma.service.ts
Due: check, spelling

chore(prisma): create prisma service and module
  lefthook.yml
  src/app.module.ts
  src/prisma/prisma.service.ts
Due: check, spelling

chore(prisma): add user modle
  prisma/schema.prisma
Due: none

chore(db): create mysql docker-compose
  docker-compose.yaml
Due: none

chore(db): create mysql docker-compose
  docker-compose.yaml
  package.json
  prisma/migrations/20240607134541_user/migration.sql
  prisma/migrations/migration_lock.toml
  vitest.config.e2e.ts
  vitest.config.unit.ts
Due: spelling
